* {
    margin: 0;
    padding: 0;
  }
  a,
  ul {
    text-decoration: none;
    list-style: none;
  }
  .body-container {
    text-align: center;
    width: 90%;
    padding: 1rem;
    margin: auto;
    overflow: auto;
    background-color: #E9DADA ;
    border: #9573ad solid 2rem;
    border-style: double;
    
  }
  .header-container {
    grid-column: 1/3;
    background-color: rgb(204, 180, 71);
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: auto;
  }
  .nav-container {
    grid-column: 1/3;
    grid-row: 2/3;
    border-bottom: solid rgb(12, 216, 22);
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .main-container {
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: beige;
    overflow: auto;
  }
  
  .footer-container {
    grid-row: 4;
    grid-column: 1/3;
    padding: 1rem;
  }
  .nav-container ul {
    display: flex;
    justify-content: center;
  }
  .nav-container ul li {
    padding: 1em;
  }
  
  /* main column grid */
  .about-class {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1rem;
  }
  .skills-class {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 1rem;
  }
  .contact-class {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
  }
  /* End main column grid */
  
  .about-class{
      /* background-color: aquamarine; */
      border: 5px double rgb(255, 102, 0);
  }
  .skills-class{
      border: 5px double rgb(10, 231, 247);
  }
  .contact-class{
      border: 5px double rgb(58, 9, 239);
  }
  .footer-container{
      border: 5px double rgb( 223, 255, 0 );
      background-color: azure;
  }
  
  
  .ul--style li{
      padding: 1rem;
  }


  /* CSS Project4 */

  .body-container{
    display: grid;
	background-repeat: no-repeat;
	background-color: rgb(235, 208, 217);
    border-style: double;
    grid-template-areas: 
    'header header header'
    'main main main'
    'main main  main'
    'footer footer footer';
}
p {
	border: 2px solid rgb(255, 26, 255);
	border-radius: 5px;
  }
.navbar-container{
    grid-area: header;
}
.main-container{
    grid-area: main;
	/* background-color: rgb(104, 192, 222); */
}
.footer-container{
    grid-area: footer;
	/* background-color: rgb(176, 163, 195);  */
}
.about-class{
    animation: myAnim 3s ease 0s 1 normal forwards;
}

/* Animation Key frame */

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

  
  
  @media(max-width:500px){
      .body-container{
          display: grid;
          grid-template-columns:1fr;
          overflow: auto;
        }
      .nav-container{
          display: grid;
          grid-template-columns: 1fr;
      }
      .about-class {
          grid-column: 1/2;
          grid-row: 1/2;
          padding: 1rem;
        }
        .skills-class {
          grid-column: 1/2;
          grid-row: 2/3;
          padding: 1rem;
        }
        .contact-class {
          grid-column: 1/2;
          grid-row: 3/4;
          padding: 1rem;
        }
  }
  